{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Correo Enviado - SudaPlay{% endblock title %}

{% block content %}
<div class="container">
    <div class="login-card">
        <div class="login-header">
            <img src="{% static 'img/SudaPlay.png' %}" alt="Logo" class="login-card-logo">
            <h1>Correo Enviado</h1>
            <p>Te hemos enviado un correo electrónico. Si no lo recibes en unos minutos, por favor revisa tu carpeta de
                spam o contáctanos.</p>
        </div>

        <div class="signup-link">
            <a href="{% url 'login:login' %}">Volver al inicio de sesión</a>
        </div>
    </div>
</div>
{% endblock content %}
