{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block title %}Contraseña Cambiada - SudaPlay{% endblock title %}

{% block content %}
<div class="container">
    <div class="login-card">
        <div class="login-header">
            <img src="{% static 'img/SudaPlay.png' %}" alt="Logo" class="login-card-logo">
            <h1>Contraseña Cambiada</h1>
            <p>Tu contraseña ha sido cambiada con éxito.</p>
        </div>

        <div class="signup-link">
            <a href="{% url 'login:login' %}" class="btn-login password-reset-done-btn">Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock content %}

