<div class="form-group">
    {{ field.label_tag }}
    <div class="input-wrapper">
        {% if field.name == 'username' %}
        <i class="fa fa-user input-icon"></i>
        {% elif field.name == 'email' %}
        <i class="fa fa-envelope input-icon"></i>
        {% elif 'password' in field.name %}
        <i class="fa fa-lock input-icon"></i>
        {% endif %}
        {{ field }}
    </div>
    <div class="form-error ajax-error ajax-error-hidden" id="error-{{ field.auto_id }}"></div>
    {% if field.errors %}
    <div class="form-error">
        {% for error in field.errors %}
        <p>✗ {{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
