{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'web/css/pages/game-play.css' %}?v=1">
{% endblock %}

{% block title %}Jugar {{ game.title }} - SudaPlay{% endblock %}

{% block content %}
<div class="play-shell">
    {% include "web/game_play/_play_hero.html" %}
    {% include "web/game_play/_play_messages.html" %}

    {% if play_mode == "embedded" or play_mode == "external" %}
    <div class="play-grid">
        {% include "web/game_play/_play_stage.html" %}
        {% include "web/game_play/_play_sidebar.html" %}
    </div>
    {% else %}
    {% include "web/game_play/_play_unavailable.html" %}
    {% endif %}
</div>
{% endblock %}

{% block extra_js %}
{% include "web/game_play/_play_js.html" %}
{% endblock %}
